.fullPage {
  padding: 5%;
  text-align: center;
}

.recipeName {
  padding-top: 18%;
  font-size: large;
}

.recipe {
  position: relative;
  height: 40%;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 5%;
}

.recipeImage {
  position: relative;
  padding-top: 5%;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

.infoLabel1 {
  position: absolute;
  width: 12%;
  top: 0%;
  left: 0%;
  background-color: rgba(226, 81, 55, 0.75);
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.infoLabel2 {
  position: absolute;
  width: 12%;
  top: 0%;
  right: 0%;
  background-color: rgba(226, 81, 55, 0.75);
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.bigButton {
  width: 30%;
  margin: 2%;
}

.lilButton {
  width: 20%;
  margin: 3%;
  padding-bottom: 5%;
}
