.fullPage {
  display: flex;
  background-color: #ffd275;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.logoImage {
  margin-top: 179px;
  display: flex;
  width: 165px;
  height: auto;
}
.logo {
  display: flex;
  color: white;
  font-family: 'Roboto';
  font-size: 2.5em;
  margin: 16px auto;
}

.loginButton {
  color: white;
  background-color: #db5a42;
  font-family: 'Roboto';
  font-weight: 400;
  height: 60px;
  width: 300px;
  border: none;
  margin-top: 45px;
}

.registerButton {
  color: #db5a42;
  background-color: white;
  font-family: 'Roboto';
  font-weight: 400;
  height: 60px;
  width: 300px;
  margin-top: 25px;
}
