.bottomNavContainer {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 0.3px solid #DB5A42;
    text-align: center;
  
    .navButton {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5%;

    }
}

.topNavContainer {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.3px solid #DB5A42;
    text-align: center;
  
    .navButton {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5%;

    }
}