// Common Component
$bigRedBtn: #db5a42;

// Metrics Page
$selectedBtn: #ffd275;

$compressedBorderColor: #ffd275;

$preferenceSettingColor: #a8a8a8;
$preferenceSettingTitleColor: #db5a42;
$searchInputBackground: #ebebeb;
$searchInputPlaceholder: #A8A8A8;
