.LogoutBtn {
  display: flex;
  width: 127px;
  height: 36px;
  align-self: center;
  border-radius: 15px;
  background-color: #db5a42;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 22px;
  color: white;
  margin-top: 25px;
}
